*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter, sans-serif;
}

body{
  background:#07000d;
  color:white;
  overflow-x:hidden;
}

/* NAV */
.nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  position:sticky;
  top:0;
  background:rgba(10,0,20,0.7);
  backdrop-filter:blur(10px);
}

.links a{
  margin:0 10px;
  text-decoration:none;
  color:#aaa;
}

/* HERO */
.hero{
  position:relative;
  padding:120px 40px;
  text-align:center;
  overflow:hidden;
}

.hero-glow{
  position:absolute;
  width:500px;
  height:500px;
  background:purple;
  filter:blur(120px);
  top:-100px;
  left:-100px;
  opacity:0.4;
}

.hero h1{
  font-size:60px;
}

.hero span{
  color:#caa6ff;
}

.hero p{
  margin-top:20px;
  color:#aaa;
}

.hero-buttons{
  margin-top:30px;
}

.btn{
  padding:12px 20px;
  border-radius:999px;
  text-decoration:none;
}

.primary{
  background:white;
  color:black;
}

.secondary{
  border:1px solid white;
}

/* PROOF */
.proof{
  display:flex;
  justify-content:space-around;
  padding:40px;
}

/* SECTION */
.section{
  padding:80px 40px;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:20px;
  margin-top:20px;
}

/* CARDS */
.card{
  padding:20px;
  background:rgba(255,255,255,0.05);
  border-radius:20px;
}

/* LOCKED */
.locked{
  filter:blur(3px);
  opacity:0.6;
}
